@import url(http://fonts.googleapis.com/css?family=Oswald&v1);

html {
  overflow-y: scroll;
  font-family: "Oswald";
}

body {
  background-color: #fefeff;
}

h1 {
  font-size: 40pt;
  letter-spacing: 0.12em;
  height: 50px;
}

main,
header,
footer {
    width: 960px;
    margin: auto;
}

header {
    height: 200px;
}

main {
  font-size: 10pt;
  
  color: #1f1f1f;
  letter-spacing: 0.09em;
}

li {
  list-style: none;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

a:hover {
  color: #4c617f;
}

#about {
  float: left;
  width: 700px;
  height: 100px;
  padding-left: 10px;
  font-size: 9pt;
  color: #72787f;
  letter-spacing: 0.12em;
  text-align: justify;
}

#content {
  padding-top: 15px;
}

#contactInfo {
  padding-left: 790px;
  padding-right: 10px;
  font-size: 10.5pt;
  letter-spacing: 0.08em;
  font-weight: 500;
  height: 50px;
}

#split {
  width: 945px;
  height: 10px;
  float: left;
  background-color: #4c617f;
  text-align: center;
  margin-left: 5px;
}

#contactInfo li {
  list-style: none;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

#projects div {
  background-repeat: no-repeat;
  width: 307px;
  height: 123px;
  text-align: center;
}

#projects div span {
  position: relative;
  top: 100px;
  color: white;
  font-size: 12pt;
}

#the-confines-of-space {
  background: url(../../static/images/confines.jpg);
}

#dissonics {
  background: url(../../static/images/dissonics.jpg);
}

#bindu-shards {
  background: url(../../static/images/bindu.jpg);
}

#ghosts-of-union-square {
  background: url(../../static/images/ghosts.jpg);
}

#planting-steps {
  background: url(../../static/images/planting.jpg);
}

#hand-crank-drum-machine {
  background: url(../../static/images/drums.jpg);
}

#slippery-slopes {
  background: url(../../static/images/slippery.jpg);
}

#stickman-fight {
  background: url(../../static/images/stickman.jpg);
}

#we-have-you-now {
  background: url(../../static/images/wehaveyounow.jpg);
}

.back {
  font-size: 11pt;
  float: right;
}

.back:hover {
  color: #4c617f;
  cursor: hand;
}

.noHover:hover {
  color: #1f1f1f;
}

.projectText {
  text-align: justify;
  width: 580px;
  margin-right: 10px;
  float: right;
}

.projectTitle {
  font-size: 23pt;
}

.upperSection {
  float: right;
  text-align: right;
  width: 590;
  margin-right: 10px;
}

.myTitle {
  color: #72787f;
  font-size: 12pt;
}
